@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --background-color: #ffffff;
    --text-color: #333;
    --accent-color: #c5a880;
    --button-color: #e9dccb;
    --input-bg-color: #fff;
    --placeholder-color: #999;
    --border-color: #d8c3a5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', Arial, sans-serif;
    background-color: var(--background-color);
    display: blox;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: var(--input-bg-color);
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    padding: 30px 20px;
    width: 500px;
    max-width: 90%;
}

.titulo {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

.erro {
    color: red;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.input-box {
    position: relative;
    margin: 15px 0;
}

.input-box input {
    width: 100%;
    padding: 10px 15px;
    padding-right: 35px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    font-size: 14px;
    color: var(--text-color);
    background-color: var(--input-bg-color);
    outline: none;
    transition: border-color 0.3s ease;
}

.input-box input:focus {
    border-color: var(--accent-color);
}

.input-box input::placeholder {
    color: var(--placeholder-color);
}

.icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: var(--accent-color);
    cursor: pointer;
    transition: color 0.3s ease;
}

.icon:hover {
    color: var(--border-color);
}

button {
    background-color: var(--accent-color);
    color: #fff;
    font-size: 14px;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

button:hover {
    background-color: #b89470;
}

.user-type {
    display: flex;
    justify-content: space-evenly;
}

.radio-button {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 20px;
    position: relative;
    align-items: center;
    color: black;
}

.radio-button input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.radio {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid #ccc;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    transform: translateZ(-25px);
    transition: all 0.3s ease-in-out;
}

.radio::before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.radio-button input[type="radio"]:checked+.radio {
    border-color: var(--accent-color);
    transform: translateZ(0px);
    background-color: #fff;
}

.radio-button input[type="radio"]:checked+.radio::before {
    opacity: 1;
}