* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

:root {
    --color-neutral-0: #877961;
    --color-neutral-10: #B39F7C;
    --color-neutral-30: #ffffff;
    --color-neutral-40: #f5f5f5;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}

.container {
    width: 100%;
}

header {
    width: 100%;
    background: #ffffff;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.navegacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo a{
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;   
}

.menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu a {
    color: rgb(0, 0, 0);
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;
}

.menu a.active,
.menu a:hover {
    background: #b39f7c;
    transition: .5s;
    border-radius: 10px;
    color: white;
}

.actions {
    display: flex;
    align-items: center;
}

.login-registo a {
    color: rgb(0, 0, 0);
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;
}

.login-registo a:hover {
    background: #b39f7c;
    transition: .5s;
    border-radius: 10px;
    color: white;
}

/* Hamburger Menu Styles */
.hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.hamburger-menu span {
    width: 100%;
    height: 3px;
    background-color: black;
    transition: all 0.3s;
}

/* Responsive media query code for small screen */
@media (max-width: 1070px) {
    .menu, .actions {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .menu a, .login-registo a {
        padding: 15px;
        border-bottom: 1px solid #ddd;
    }

    .hamburger-menu {
        display: flex;
    }

    .hamburger-menu.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .hamburger-menu.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger-menu.active span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    .menu.active, .actions.active {
        display: flex;
    }
}

section {
    background: url("../images/fundo_home3.jpg") no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
}

section h1 {
    color: white;
    font-size: 70px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-left: 20px;
}

@media (max-width: 1070px) {
    .container {
        height: auto;
        background-size: cover;
    }

    .titulo {
        font-size: 40px;
        padding: 10px;
    }

    .titulo h1 {
        font-size: 60px;
        margin-left: 10px;
    }

    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .actions {
        display: none;
    }

    .menu a {
        padding: 15px;
        border-bottom: 1px solid #ddd;
    }

    .hamburger-menu {
        display: flex;
    }

    .hamburger-menu.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .hamburger-menu.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger-menu.active span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    .menu.active {
        display: flex;
    }
}

.contentor {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    gap: 30px;
    padding: 50px;
}

.event-cards {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 30px;
    overflow-x: auto;
    padding: 10px;
    flex-wrap: wrap;
}

.card-events {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
    flex: 1;
    min-width: 400px;
    gap: 20px;
    position: relative;
}

@media (max-width: 520px) {
    .card-events {
        min-width: 100%;
    }
}

.card-batizado {
    flex-direction: row-reverse;
}

.left {
    flex: 1;
}

.card-events .right {
    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    padding-bottom: 60px;
}

.card-events img {
    width: 100%;
    height: 350px;
    border-radius: 15px;
    object-fit: cover;
}

.card-events h1 {
    font-size: 25px;
    /* Ajustado para harmonizar no layout */
    font-weight: 600;
    color: #333333;
    margin-bottom: 10px;
}

.card-events p {
    font-size: 18px;
    line-height: 1.5;
    color: #555555;
    padding-bottom: 20px;
}

/* Estilo dos Botões */
.card-events button {
    background-color: #b39f7c;
    color: #ffffff;
    border: none;
    padding: 15px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 16px;
}

.card-events button:hover {
    background-color: #ebd0a2;
    transform: scale(1.02);
}

footer {
    width: 100%;
    color: var(--color-neutral-40);
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts a img {
    width: 150px;
    height: auto;
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #1c9b17;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
    display: flex;
    gap: 5px;
}

.footer-list .footer-link:hover {
    color: #c99b37;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    padding: 10px;
    margin-bottom: 100px;
}

.gallery a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery a {
    display: flex;
    overflow: hidden;
    justify-content: center;
    position: relative;
    text-decoration: none;
}

.gallery a::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    background: rgba(255, 255, 255, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 2;
}

.gallery a:hover::before {
    opacity: 1;
}

.gallery a::after {
    content: "+";
    font-family: "boxicons";
    position: absolute;
    font-size: 50px;
    color: #000000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 3;
}

.gallery a:hover::after {
    opacity: 1;
}

.img1,
.img4 {
    flex: 1 1 38%;
    max-width: 38%;
    height: 400px;
}

.img2,
.img3 {
    flex: 1 1 60%;
    max-width: 60%;
    height: 400px;
}

@media (max-width: 768px) {
    .gallery {
        flex-direction: column;
        align-items: center;
    }

    .gallery div {
        max-width: 100%;
        height: auto;
    }
}

.gallery-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.gallery-title h1 {
    font-size: 40px;
    padding-bottom: 10px;
}

.gallery-title p {
    font-size: 20px;
}


/* Hamburger Menu Styles */
.hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.hamburger-menu span {
    width: 100%;
    height: 3px;
    background-color: white;
    transition: all 0.3s;
}

@media (max-width: 1070px) {
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .actions {
        display: none;
    }

    .menu a {
        padding: 15px;
        border-bottom: 1px solid #ddd;
    }

    .hamburger-menu {
        display: flex;
    }

    .hamburger-menu.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .hamburger-menu.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger-menu.active span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    .menu.active {
        display: flex;
    }

    .container {
        height: auto;
        width: 100%;
    }
}