@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --background-color: #ffffff;
    --text-color: #333;
    --accent-color: #c5a880;
    --card-bg-color: #f9f9f9;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --border-color: #d8c3a5;
    --editBtn-color: #4199c8;
    --deleteBtn-color: #cb1212;
    --deleteBtnBorder-color: #883030;
    --editBtnBorder-color: #336c8a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
    display: flex;
    min-height: 100vh;
}

.card-grid{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: var(--card-bg-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--shadow-color);
    width: 400px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card h2 {
    font-size: 1.5rem;
    padding-bottom: 10px;
    color: var(--accent-color);
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding-top: 20px;
  gap: 10px; /* Adiciona um espaçamento entre os botões */
}

.buttons a {
  width: 45%; /* Ajusta a largura para manter os botões consistentes */
  text-decoration: none; /* Remove o sublinhado dos links */
}

.editBtn,
.deleteBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px; /* Espaço entre o texto e o ícone */
  width: 100%;
  height: 40px; /* Define uma altura consistente para os botões */
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
}

.editBtn {
  background-color: var(--editBtn-color);
  color: white;
  border: 1px solid var(--editBtnBorder-color);
}

.deleteBtn {
  background-color: var(--deleteBtn-color);
  color: white;
  border: 1px solid var(--deleteBtnBorder-color);
}

.editBtn:hover,
.deleteBtn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 6px var(--shadow-color);
}

.editBtn:active,
.deleteBtn:active {
  transform: translateY(0);
  box-shadow: none;
}